.burger {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.burger span {
  position: absolute;
  left: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1px;
}

/* Расположение линий - только 2 линии */
.burger span:nth-child(1) {
  top: 4px;
  width: 85%;
}
.burger span:nth-child(2) {
  top: 13px;
  width: 55%;
}
