:root {
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bookmark-reminder {
  opacity: 0;
  animation: fadeInUp 0.1s ease-out 3s forwards;
}

body {
  margin: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #04141d;
  overflow-x: visible !important;
  position: relative;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes dash-move-left {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -40px;
  }
}
@keyframes dash-move-right {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 40px;
  }
}
